* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Kumbh Sans", sans-serif; }

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem 2.5rem 2rem;
  position: relative;
  margin: 0.5rem; }
  @media screen and (min-width: 1440px) {
    header {
      padding: 0;
      border-bottom: 1px solid #ade8f4; }
      header .container {
        width: 80%;
        margin: 0 auto; } }
  header .hamburgerMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; }
    @media screen and (min-width: 1440px) {
      header .hamburgerMenu {
        gap: 5.5rem; }
        header .hamburgerMenu .container {
          width: 80%;
          margin: 0 auto; } }
    header .hamburgerMenu .hamburger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      cursor: pointer; }
      @media screen and (min-width: 1440px) {
        header .hamburgerMenu .hamburger {
          display: none; }
          header .hamburgerMenu .hamburger .container {
            width: 80%;
            margin: 0 auto; } }
      header .hamburgerMenu .hamburger .line {
        background-color: #0077b6;
        width: 1.7rem;
        height: 0.3rem; }
    header .hamburgerMenu .menu {
      background-color: #170A1C;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100vh;
      z-index: 10; }
      @media screen and (min-width: 1440px) {
        header .hamburgerMenu .menu {
          display: block;
          position: unset;
          height: unset;
          z-index: unset; }
          header .hamburgerMenu .menu .container {
            width: 80%;
            margin: 0 auto; } }
      header .hamburgerMenu .menu .slideMenu {
        background-color: #ffffff;
        height: 100%;
        width: 65vw;
        padding: 2.5rem; }
        @media screen and (min-width: 1440px) {
          header .hamburgerMenu .menu .slideMenu {
            width: unset;
            padding: 0; }
            header .hamburgerMenu .menu .slideMenu .container {
              width: 80%;
              margin: 0 auto; } }
        header .hamburgerMenu .menu .slideMenu img {
          transition: transform 0.5s ease; }
          @media screen and (min-width: 1440px) {
            header .hamburgerMenu .menu .slideMenu img {
              display: none; }
              header .hamburgerMenu .menu .slideMenu img .container {
                width: 80%;
                margin: 0 auto; } }
          header .hamburgerMenu .menu .slideMenu img:hover {
            cursor: pointer;
            transform: rotate(90deg); }
        header .hamburgerMenu .menu .slideMenu ul {
          margin-top: 5rem;
          font-size: 2rem;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
          list-style: none; }
          @media screen and (min-width: 1440px) {
            header .hamburgerMenu .menu .slideMenu ul {
              flex-direction: row;
              margin: 0;
              font-size: 1.5rem;
              font-weight: 400;
              color: #0077b6;
              gap: 3.5rem; }
              header .hamburgerMenu .menu .slideMenu ul .container {
                width: 80%;
                margin: 0 auto; } }
          header .hamburgerMenu .menu .slideMenu ul a,
          header .hamburgerMenu .menu .slideMenu ul :active,
          header .hamburgerMenu .menu .slideMenu ul :visited {
            color: #03045e;
            text-decoration: unset; }
            @media screen and (min-width: 1440px) {
              header .hamburgerMenu .menu .slideMenu ul a,
              header .hamburgerMenu .menu .slideMenu ul :active,
              header .hamburgerMenu .menu .slideMenu ul :visited {
                display: block;
                border-bottom: 3px solid transparent; }
                header .hamburgerMenu .menu .slideMenu ul a .container,
                header .hamburgerMenu .menu .slideMenu ul :active .container,
                header .hamburgerMenu .menu .slideMenu ul :visited .container {
                  width: 80%;
                  margin: 0 auto; } }
            header .hamburgerMenu .menu .slideMenu ul a:hover,
            header .hamburgerMenu .menu .slideMenu ul :active:hover,
            header .hamburgerMenu .menu .slideMenu ul :visited:hover {
              text-decoration: underline;
              opacity: 0.75; }
              @media screen and (min-width: 1440px) {
                header .hamburgerMenu .menu .slideMenu ul a:hover,
                header .hamburgerMenu .menu .slideMenu ul :active:hover,
                header .hamburgerMenu .menu .slideMenu ul :visited:hover {
                  color: #03045e;
                  text-decoration: none;
                  font-weight: 700;
                  border-bottom: 3px solid #0096c7; }
                  header .hamburgerMenu .menu .slideMenu ul a:hover .container,
                  header .hamburgerMenu .menu .slideMenu ul :active:hover .container,
                  header .hamburgerMenu .menu .slideMenu ul :visited:hover .container {
                    width: 80%;
                    margin: 0 auto; } }
    header .hamburgerMenu .hidden {
      display: none; }
      @media screen and (min-width: 1440px) {
        header .hamburgerMenu .hidden {
          display: block; }
          header .hamburgerMenu .hidden .container {
            width: 80%;
            margin: 0 auto; } }
  header .cartAvatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem; }
    @media screen and (min-width: 1440px) {
      header .cartAvatar {
        gap: 4.5rem; }
        header .cartAvatar .container {
          width: 80%;
          margin: 0 auto; } }
    header .cartAvatar .btnCart {
      cursor: pointer;
      position: relative; }
      header .cartAvatar .btnCart .cartCount {
        position: absolute;
        top: -25%;
        right: -25%;
        background-color: #0096c7;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 700;
        line-height: 100%;
        padding: 0.1rem 0.6rem;
        border-radius: 1rem; }
    header .cartAvatar .avatar {
      width: 2.5rem;
      cursor: pointer;
      border: 2px solid transparent; }
      @media screen and (min-width: 1440px) {
        header .cartAvatar .avatar {
          width: 5rem; }
          header .cartAvatar .avatar .container {
            width: 80%;
            margin: 0 auto; } }
      header .cartAvatar .avatar:hover {
        border: 2px solid #0096c7;
        border-radius: 50%; }
  header .cart {
    position: absolute;
    right: 1rem;
    top: calc(calc(100%) + 1rem);
    width: 35.5rem;
    z-index: 999;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.1), 0 1rem 2rem 1rem rgba(0, 0, 0, 0.1); }
    @media screen and (min-width: 1440px) {
      header .cart {
        right: 7rem;
        top: 90%; }
        header .cart .container {
          width: 80%;
          margin: 0 auto; } }
    header .cart .cartHeader {
      border-bottom: 1px solid #ade8f4;
      padding: 2.5rem 2rem;
      font-size: 1.5rem;
      font-weight: 700; }
    header .cart .productsInCart .item {
      margin: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      header .cart .productsInCart .item .productImg {
        width: 5rem;
        border-radius: 0.5rem; }
      header .cart .productsInCart .item .details {
        color: #0077b6;
        font-size: 1.5rem;
        line-height: 2.5rem; }
        header .cart .productsInCart .item .details .priceGroup {
          display: flex;
          gap: 0.5rem; }
          header .cart .productsInCart .item .details .priceGroup .totalAmount {
            font-weight: 700;
            font-size: 2rem;
            color: #170A1C; }
      header .cart .productsInCart .item #btnDelete {
        padding: 0.5rem;
        border-radius: 0.5rem; }
        header .cart .productsInCart .item #btnDelete:hover {
          cursor: pointer;
          background-color: #90e0ef; }
    header .cart .msgEmpty {
      color: #0077b6;
      text-align: center;
      font-size: 2rem;
      font-weight: 700;
      padding: 8rem 0; }
    header .cart .checkout {
      background-color: #0096c7;
      color: #ffffff;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 700;
      margin: 2.5rem;
      padding: 2rem;
      border-radius: 1rem;
      cursor: pointer; }
    header .cart .hidden {
      display: none; }
  header .hidden {
    display: none; }

main {
  height: auto;
  align-items: center;
  justify-content: center;
  width: 100%; }
  main .headerSlider {
    height: 30vh;
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #00d4ff 0%, #005bff 50%, #00d4ff 82%); }
  main .productsContainer {
    width: 100%;
    align-items: center;
    justify-content: center; }
    main .productsContainer .card {
      margin: 2rem;
      height: 50vh; }
      main .productsContainer .card img {
        margin: 2rem;
        height: 25vh;
        width: 35vh; }
      main .productsContainer .card .card-body {
        margin: 1rem; }
        main .productsContainer .card .card-body .card-title {
          height: 5rem;
          overflow: hidden;
          overflow-wrap: break-word;
          text-overflow: ellipsis;
          font-size: 2rem;
          font-weight: 600;
          color: #0077b6; }
        main .productsContainer .card .card-body p {
          font-size: 2rem; }
      main .productsContainer .card .btn {
        width: 50%;
        background-color: #0096c7;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 700;
        border-radius: 1rem;
        box-shadow: 0px 20px 30px 0px #90e0ef;
        cursor: pointer; }
        main .productsContainer .card .btn img {
          height: 2rem;
          width: 2rem;
          filter: brightness(300%); }
  main .hidden {
    display: none; }

#overlayProducts {
  z-index: 999; }
  #overlayProducts .content {
    margin: 1rem;
    background-color: white;
    position: fixed;
    width: 50%;
    height: fit-content;
    top: 70%;
    left: 50%;
    padding: 1rem;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0px 0px 28px 10px rgba(0, 0, 0, 0.74);
    margin-top: -35%;
    margin-left: -25%; }
    #overlayProducts .content .closeBtn {
      position: absolute;
      right: 2rem;
      top: 1rem;
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
      padding: 2px 5px 7px 5px;
      cursor: pointer; }
    #overlayProducts .content .productHero {
      margin: 1rem;
      width: 70%; }
    #overlayProducts .content .companyName {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 700;
      color: #0096c7;
      letter-spacing: 0.20rem; }
    #overlayProducts .content .card-title {
      color: #03045e;
      font-size: 3rem;
      font-weight: 700;
      margin-top: 1.5rem;
      line-height: 120%; }
    #overlayProducts .content .card-text {
      font-size: 3rem;
      font-weight: 700; }
    #overlayProducts .content .counterWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #caf0f8;
      padding: 1.5rem 2.5rem;
      margin-top: 2rem;
      border-radius: 1rem; }
      #overlayProducts .content .counterWrapper .counter {
        font-size: 1.5rem;
        font-weight: 700; }
      #overlayProducts .content .counterWrapper #btnMinus,
      #overlayProducts .content .counterWrapper #btnPlus {
        cursor: pointer;
        color: #0096c7;
        font-size: 3rem;
        padding: 1rem;
        border-radius: 0.5rem; }
        l #overlayProducts .content .counterWrapper #btnMinus:hover, l
        #overlayProducts .content .counterWrapper #btnPlus:hover {
          opacity: 0.5;
          background-color: #90e0ef; }
    #overlayProducts .content .btn {
      background-color: #0096c7;
      color: #ffffff;
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      border-radius: 1rem;
      padding: 2rem;
      box-shadow: 0px 20px 30px 0px #90e0ef;
      cursor: pointer; }
      #overlayProducts .content .btn img {
        height: 1.5rem;
        filter: brightness(300%); }
  #overlayProducts .hidden {
    display: none; }

footer {
  width: 100%;
  display: block;
  background-color: #90e0ef;
  height: auto; }
  footer .footer {
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    align-items: center;
    justify-content: space-between; }
    footer .footer .section1 {
      margin: 2rem;
      align-items: center;
      justify-content: center;
      height: 15vh;
      width: 25%; }
      footer .footer .section1 p {
        font-size: 2rem;
        font-weight: 600; }
    footer .footer .section2 {
      margin: 2rem;
      padding: 1rem;
      align-items: center;
      justify-content: center;
      height: 15vh;
      width: 25%; }
      footer .footer .section2 .logo {
        font-size: 1rem; }
        footer .footer .section2 .logo p {
          font-size: 3rem;
          font-weight: 700; }
