main {
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    .headerSlider {
        height: 30vh;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(0,91,255,1) 50%, rgba(0,212,255,1) 82%);
    }
    .productsContainer {
        width: 100%;
        align-items: center;
        justify-content: center;
        .card {
            margin: 2rem;
            height: 50vh;
            img {
            margin: 2rem;
            height: 25vh;
            width: 35vh;
            }
            .card-body {
            margin: 1rem;
            .card-title {
                height: 5rem;
                overflow: hidden;
                overflow-wrap: break-word;
                text-overflow: ellipsis;
    
                font-size: 2rem;
                font-weight: 600;
                color: $dark-grayish-blue;
            }
            p {
                font-size: 2rem;
            }
            }
            .btn {
            width: 50%;
			background-color: $teal-blue;
			color: $white;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			font-weight: 700;
			border-radius: 1rem;
			img {
				height: 2rem;
                width: 2rem;
				filter: brightness(300%);
			}
			box-shadow: 0px 20px 30px 0px $pale-teal-blue;
			cursor: pointer;
        }
        }
            
    }
    .hidden {
        display: none;
    }
}
